/* sprite */
/* widths */
/* line 6, ../sass/base/_base.scss */
body {
  min-width: 320px;
}

/* line 10, ../sass/base/_base.scss */
ul, a, span, li {
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/base/_base.scss */
img {
  max-width: 100%;
  overflow: hidden;
  height: auto;
}

/* line 21, ../sass/base/_base.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-box-sizing: border-box;
}

/* line 31, ../sass/base/_base.scss */
form, fieldset, legend, input, button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* line 6, ../sass/modules/_buttons.scss */
.btn {
  font-family: "Roboto", "Arial", serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 8px 40%;
}

/* line 16, ../sass/modules/_buttons.scss */
.btn--subscribe {
  background: #ffa726;
}

/* line 5, ../sass/modules/_forms.scss */
.subscribe-form {
  width: 370px;
}

/* line 9, ../sass/modules/_forms.scss */
.subscribe-form__name,
.subscribe-form__mail {
  margin-bottom: 54px;
  border-bottom: 2px solid #9e9e9e;
  width: 370px;
  background: #212121;
  color: #9e9e9e;
  font-family: "Roboto", "Arial", serif;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 8px;
  padding-left: 1px;
}

/* line 21, ../sass/modules/_forms.scss */
.subscribe-form__name:focus,
.subscribe-form__mail:focus {
  margin-bottom: 54px;
  border-bottom: 2px solid #9e9e9e;
  width: 370px;
  background: #212121;
  color: #9e9e9e;
  font-family: "Roboto", "Arial", serif;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 8px;
  padding-left: 1px;
}

/* line 5, ../sass/modules/_header.scss */
.header {
  max-width: 100%;
  background: #ffffff;
}

/* line 11, ../sass/modules/_header.scss */
.header-top {
  background: #000000;
}
/* line 13, ../sass/modules/_header.scss */
.header-top__content {
  display: flex;
  min-width: 200px;
  max-width: 1170px;
  min-height: 22px;
  margin: 0 auto;
  padding-top: 4px;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  /* line 13, ../sass/modules/_header.scss */
  .header-top__content {
    flex-direction: column-reverse;
  }
}
/* line 25, ../sass/modules/_header.scss */
.header-top__lang-list {
  padding-left: 5px;
  list-style: none;
  white-space: nowrap;
  flex: 0 0 auto;
}
/* line 32, ../sass/modules/_header.scss */
.header-top__user-block {
  margin-right: 18px;
  text-align: end;
  white-space: nowrap;
  flex: 1 1 0;
}
/* line 39, ../sass/modules/_header.scss */
.header-top__lang-list-item {
  display: inline-block;
  margin-right: 15px;
}
/* line 43, ../sass/modules/_header.scss */
.header-top__login {
  display: inline-block;
}
/* line 46, ../sass/modules/_header.scss */
.header-top__signup {
  display: inline-block;
}
/* line 49, ../sass/modules/_header.scss */
.header-top__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", "Arial", serif;
  font-size: 12px;
  line-height: 24px;
}

/* line 66, ../sass/modules/_header.scss */
.social-links {
  text-align: end;
  flex: 0 0 auto;
}
/* line 70, ../sass/modules/_header.scss */
.social-links__item {
  display: inline-block;
}
/* line 73, ../sass/modules/_header.scss */
.social-links__item a {
  display: block;
  width: 22px;
  height: 22px;
  margin: 0 2px 0 2px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url('../img/icons-s0406b245c1.png');
  background-repeat: no-repeat;
  text-transform: uppercase;
}
/* line 84, ../sass/modules/_header.scss */
.social-links__item--fb a {
  background-position: -1px -543px;
}
/* line 87, ../sass/modules/_header.scss */
.social-links__item--tw a {
  background-position: -1px -2226px;
}
/* line 90, ../sass/modules/_header.scss */
.social-links__item--g a {
  background-position: -1px -637px;
}
/* line 93, ../sass/modules/_header.scss */
.social-links__item--tumblr a {
  background-position: -1px -2132px;
}
/* line 96, ../sass/modules/_header.scss */
.social-links__item--pinterest a {
  background-position: -1px -1501px;
}

/* line 5, ../sass/modules/_header_logo.scss */
.header-logo {
  max-width: 100%;
}
/* line 7, ../sass/modules/_header_logo.scss */
.header-logo__container {
  position: relative;
  top: 38px;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-left: 70px;
  background: #ffffff;
}
/* line 24, ../sass/modules/_header_logo.scss */
.header-logo__name {
  display: inline-block;
  padding-bottom: 20px;
  vertical-align: middle;
}
/* line 28, ../sass/modules/_header_logo.scss */
.header-logo__name a {
  font-weight: bold;
  color: #ffa726;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto Slab", "Arial", serif;
  font-size: 72px;
  line-height: 72px;
}
/* line 37, ../sass/modules/_header_logo.scss */
.header-logo__caption {
  position: relative;
  left: 50%;
  display: block;
  color: #757575;
  transform: translateX(-60%);
  font-family: "Roboto Slab", "Arial", serif;
  font-size: 15px;
  line-height: 26px;
}
/* line 46, ../sass/modules/_header_logo.scss */
.header-logo__icon {
  position: absolute;
  top: 6px;
  left: -15px;
  width: 48px;
  height: 60px;
  background-image: url('../img/icons-s0406b245c1.png');
  background-repeat: no-repeat;
  background-position: 0 -898px;
}

/* line 5, ../sass/modules/_header_nav.scss */
.header__nav-wrapper {
  width: auto;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  margin-top: 40px;
}

/* line 12, ../sass/modules/_header_nav.scss */
.header-nav {
  min-width: 200px;
  max-width: 1170px;
  margin: 0 auto;
}
/* line 16, ../sass/modules/_header_nav.scss */
.header-nav__list {
  display: inline-block;
  font-size: 0;
}
/* line 20, ../sass/modules/_header_nav.scss */
.header-nav__item {
  display: inline-block;
}
/* line 22, ../sass/modules/_header_nav.scss */
.header-nav__item:last-child a {
  padding-right: 25px;
}
/* line 26, ../sass/modules/_header_nav.scss */
.header-nav__link {
  display: block;
  padding-top: 25px;
  padding-right: 36px;
  padding-bottom: 20px;
  font-weight: bold;
  color: #212121;
  text-decoration: none;
  font-family: "Roboto Slab", "Arial", serif;
  font-size: 15px;
  line-height: 24px;
}
/* line 37, ../sass/modules/_header_nav.scss */
.header-nav__input-label {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url('../img/icons-s0406b245c1.png');
  background-repeat: no-repeat;
  background-position: 0 -1667px;
  vertical-align: -25%;
}
/* line 46, ../sass/modules/_header_nav.scss */
.header-nav__input {
  display: none;
}
/* line 49, ../sass/modules/_header_nav.scss */
.header-nav__input:active {
  display: block;
  background: orange;
}

/* line 56, ../sass/modules/_header_nav.scss */
.burger-wrapper {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: orange;
}

/* line 63, ../sass/modules/_header_nav.scss */
.burger-menu__item {
  display: none;
  list-style: none;
}

/* line 6, ../sass/modules/_header-bootm_content.scss */
.header-bottom__content {
  max-width: 100%;
  background: url("../img/friends_small.jpg");
  border: 1px solid transparent;
}

/* line 12, ../sass/modules/_header-bootm_content.scss */
.slider {
  width: 1170px;
  height: 700px;
  margin: 60px auto;
  overflow: hidden;
  display: flex;
}
/* line 21, ../sass/modules/_header-bootm_content.scss */
.slider__input {
  display: none;
}
/* line 25, ../sass/modules/_header-bootm_content.scss */
.slider__inner {
  width: 300%;
}
/* line 28, ../sass/modules/_header-bootm_content.scss */
.slider__img {
  display: inline_block;
}

/* line 5, ../sass/modules/_post.scss */
.index-content {
  padding-top: 80px;
}

/* line 11, ../sass/modules/_post.scss */
.main-container {
  display: flex;
  min-width: 200px;
  max-width: 1170px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* line 23, ../sass/modules/_post.scss */
.post {
  position: relative;
  overflow: hidden;
  margin-right: 1%;
  margin-bottom: 30px;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 4px 4px 0 #ececec;
  box-shadow: 0 4px 4px 0 #ececec;
  flex: 0 0 32.6666667%;
}
/* line 35, ../sass/modules/_post.scss */
.post__content-wrapper {
  position: relative;
}
/* line 38, ../sass/modules/_post.scss */
.post__category-icon {
  position: absolute;
  top: -130px;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: lightgray;
  background-image: url('../img/icons-s0406b245c1.png');
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 4px 8px 0 #b3b3b3;
  box-shadow: 0 4px 4px 0 #b3b3b3;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 55, ../sass/modules/_post.scss */
.post__category-icon--featured {
  background-color: #f8a700;
  background-position: 33px -50px;
}
/* line 59, ../sass/modules/_post.scss */
.post__category-icon--travel {
  background-color: #64b5f6;
  background-position: 33px -50px;
}
/* line 63, ../sass/modules/_post.scss */
.post__category-icon--photography {
  background-color: #aed581;
  background-position: 33px -1368px;
}
/* line 67, ../sass/modules/_post.scss */
.post__category-icon--fashion {
  background-color: #f06292;
  background-position: 31px -1267px;
}
/* line 71, ../sass/modules/_post.scss */
.post__category-icon--life-style {
  background-color: #7986cb;
  background-position: 33px -239px;
}
/* line 75, ../sass/modules/_post.scss */
.post__category-icon--music {
  background-color: #4db6ac;
  background-position: 36px -1168px;
}
/* line 80, ../sass/modules/_post.scss */
.post__heading {
  margin-top: 75px;
  text-align: center;
  font-family: "Roboto Slab", "Arial", serif;
  font-size: 20px;
  line-height: 27px;
}
/* line 86, ../sass/modules/_post.scss */
.post__preview {
  position: relative;
  margin: 0;
  padding: 0 25px 50px 25px;
  border-bottom: 1px solid #ececec;
  color: #616161;
  font-family: "Roboto", "Arial", serif;
  font-size: 15px;
  line-height: 27px;
  flex: 1 1 0.81081%;
  justify-content: center;
}
/* line 97, ../sass/modules/_post.scss */
.post__read-more {
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 200px;
  padding: 10px 0 10px 25px;
  border: 1px solid #ececec;
  font-weight: bolder;
  font-weight: 500;
  color: #f8a700;
  background: white;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", "Arial", serif;
  font-size: 14px;
  line-height: 27px;
}
/* line 117, ../sass/modules/_post.scss */
.post:nth-of-type(3n) {
  margin-right: 0;
}
/* line 122, ../sass/modules/_post.scss */
.post__author-photo {
  display: inline-block;
  margin: 0 10px 28px 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: top;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* line 133, ../sass/modules/_post.scss */
.post__info {
  width: 100%;
  padding-top: 50px;
  font-size: 0;
}
/* line 138, ../sass/modules/_post.scss */
.post__statistics {
  display: inline-block;
  width: 240px;
  margin: 0 0 28px 0;
  font-size: 0;
  vertical-align: top;
}
/* line 145, ../sass/modules/_post.scss */
.post__author-info {
  display: block;
  padding: 0;
  font-weight: normal;
  color: #9e9e9e;
  font-family: "Roboto", "Arial", serif;
  font-size: 12px;
  line-height: 27px;
}
/* line 153, ../sass/modules/_post.scss */
.post__favorits {
  position: relative;
  display: inline-block;
  margin-right: 52px;
  margin-left: 22px;
  font-weight: normal;
  color: #9e9e9e;
  font-family: "Roboto", "Arial", serif;
  font-size: 12px;
  line-height: 27px;
}
/* line 162, ../sass/modules/_post.scss */
.post__favorits::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -20px;
  width: 20px;
  height: 20px;
  background-image: url('../img/icons-s0406b245c1.png');
  background-repeat: no-repeat;
  background-position: 0 -461px;
}
/* line 174, ../sass/modules/_post.scss */
.post__comments {
  position: relative;
  display: inline-block;
  font-weight: normal;
  color: #9e9e9e;
  font-family: "Roboto", "Arial", serif;
  font-size: 12px;
  line-height: 27px;
}
/* line 181, ../sass/modules/_post.scss */
.post__comments::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -20px;
  width: 20px;
  height: 20px;
  background-image: url('../img/icons-s0406b245c1.png');
  background-repeat: no-repeat;
  background-position: 0 -1116px;
}
/* line 193, ../sass/modules/_post.scss */
.post__tags {
  position: relative;
  display: inline-block;
  margin-left: 22px;
  font-weight: normal;
  color: #9e9e9e;
  font-family: "Roboto", "Arial", serif;
  font-size: 12px;
  line-height: 27px;
}
/* line 202, ../sass/modules/_post.scss */
.post__tags:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -20px;
  width: 20px;
  height: 20px;
  background-image: url('../img/icons-s0406b245c1.png');
  background-repeat: no-repeat;
  background-position: 0 -2049px;
}

@media screen and (max-width: 1170px) {
  /* line 216, ../sass/modules/_post.scss */
  .post {
    flex: 1 1 48%;
  }
  /* line 218, ../sass/modules/_post.scss */
  .post:nth-of-type(2n-1) {
    margin-right: 1%;
  }
  /* line 221, ../sass/modules/_post.scss */
  .post:nth-of-type(2n) {
    margin-right: 0;
  }
  /* line 224, ../sass/modules/_post.scss */
  .post:last-of-type {
    flex: 1 1 100%;
  }
}
@media screen and (max-width: 700px) {
  /* line 232, ../sass/modules/_post.scss */
  .post {
    flex: 1 1 100%;
  }
  /* line 234, ../sass/modules/_post.scss */
  .post:nth-of-type(2n-1) {
    margin-right: 0;
  }
  /* line 237, ../sass/modules/_post.scss */
  .post:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 350px) {
  /* line 245, ../sass/modules/_post.scss */
  .post:nth-child(n) {
    margin-right: 0;
  }
  /* line 248, ../sass/modules/_post.scss */
  .post .post__author-photo {
    display: none;
  }
  /* line 251, ../sass/modules/_post.scss */
  .post .post__statistics {
    width: 80%;
    margin: 0 auto;
  }
}
/* line 19, ../sass/modules/_paginator.scss */
.paginator {
  float: 1 1 100%;
  max-width: 450px;
  margin: 55px auto;
}
/* line 23, ../sass/modules/_paginator.scss */
.paginator__item {
  display: inline-block;
  width: 57px;
  height: 57px;
  margin-right: 25px;
  vertical-align: middle;
}
/* line 29, ../sass/modules/_paginator.scss */
.paginator__item--active {
  display: inline-block;
  border-radius: 50%;
  color: white;
  background-color: #ffa726;
  text-align: baseline;
}
/* line 36, ../sass/modules/_paginator.scss */
.paginator__item--prev {
  width: 15px;
  height: 15px;
  border: 4px solid transparent;
  border-top: 4px solid orange;
  border-left: 4px solid orange;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 39, ../sass/modules/_paginator.scss */
.paginator__item--next {
  width: 15px;
  height: 15px;
  border: 4px solid transparent;
  border-top: 4px solid orange;
  border-left: 4px solid orange;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 43, ../sass/modules/_paginator.scss */
.paginator__link {
  display: inline-block;
  padding: 15px 20px 6px 22px;
  color: #2f2f2f;
  vertical-align: text-bottom;
  text-decoration: none;
  font-family: "Roboto", "Arial", serif;
  font-size: 24px;
  line-height: 26px;
}

@media screen and (max-width: 560px) {
  /* line 55, ../sass/modules/_paginator.scss */
  .paginator {
    min-width: 300px;
    margin: 0 auto;
    transform: scale(0.8);
  }
}
/* line 12, ../sass/modules/_footer.scss */
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 19, ../sass/modules/_footer.scss */
.footer {
  color: white;
  background: #212121;
}

/* line 24, ../sass/modules/_footer.scss */
.footer-top {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 56px;
  justify-content: space-between;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
}
/* line 37, ../sass/modules/_footer.scss */
.footer-top__contacts {
  margin-right: 25px;
  flex: 0 0 370px;
}
/* line 42, ../sass/modules/_footer.scss */
.footer-top__heading {
  margin-top: 0;
  margin-bottom: 36px;
  padding-top: 0;
  padding-left: 2,564%;
  font-family: "Roboto", "Arial", serif;
  font-size: 24px;
  line-height: 24px;
}
/* line 50, ../sass/modules/_footer.scss */
.footer-top__contacts-info {
  font-family: "Roboto", "Arial", serif;
  font-size: 14px;
  line-height: 24px;
}
/* line 53, ../sass/modules/_footer.scss */
.footer-top__galery {
  flex: 1 1 280px;
  align-self: center;
}

/* line 59, ../sass/modules/_footer.scss */
.subscribe-form {
  min-width: 280px;
  margin-right: 25px;
  font-family: "Roboto", "Arial", serif;
  font-size: 24px;
  line-height: 24px;
  flex: 0 0 370px;
}
/* line 65, ../sass/modules/_footer.scss */
.subscribe-form__user-info {
  border: none;
  outline: none;
}

/* line 71, ../sass/modules/_footer.scss */
.mini-galery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* line 76, ../sass/modules/_footer.scss */
.mini-galery__photo {
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 79, ../sass/modules/_footer.scss */
.mini-galery__photo:nth-of-type(3n) {
  margin-right: 0;
}

/* line 85, ../sass/modules/_footer.scss */
.social-links--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 90, ../sass/modules/_footer.scss */
.social-links--footer .social-links__item {
  position: relative;
  width: 56px;
  height: 56px;
  margin-right: 10px;
  background-color: black;
}
/* line 96, ../sass/modules/_footer.scss */
.social-links--footer .social-links__item a {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0;
  background-image: url('../img/icons-s0406b245c1.png');
  background-repeat: no-repeat;
  box-shadow: inset 0 0 1px 4px black;
  transform: translate(-50%, -50%);
}
/* line 106, ../sass/modules/_footer.scss */
.social-links--footer .social-links__item:last-of-type {
  margin-right: 0;
}
/* line 109, ../sass/modules/_footer.scss */
.social-links--footer .social-links__item__item--fb a {
  background-position: -1px -543px;
}
/* line 112, ../sass/modules/_footer.scss */
.social-links--footer .social-links__item__item--tw a {
  background-position: -1px -2226px;
}
/* line 115, ../sass/modules/_footer.scss */
.social-links--footer .social-links__item__item--g a {
  background-position: -1px -637px;
}
/* line 118, ../sass/modules/_footer.scss */
.social-links--footer .social-links__item__item--tumblr a {
  background-position: -1px -2132px;
}
/* line 121, ../sass/modules/_footer.scss */
.social-links--footer .social-links__item__item--pinterest a {
  background-position: -1px -1501px;
}

/* line 127, ../sass/modules/_footer.scss */
.footer-bottom {
  width: 100%;
  background: #000000;
}
/* line 130, ../sass/modules/_footer.scss */
.footer-bottom__moto {
  padding: 25px 0;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Roboto", "Arial", serif;
  font-size: 14px;
  line-height: 24px;
}

/* line 139, ../sass/modules/_footer.scss */
.footer-bottom__wrapper {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  max-width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
}

/* line 149, ../sass/modules/_footer.scss */
.footer-nav {
  list-style: none;
  font-weight: 300;
  font-family: "Roboto", "Arial", serif;
  font-size: 14px;
  line-height: 24px;
}
/* line 154, ../sass/modules/_footer.scss */
.footer-nav__list-item {
  display: inline-block;
  padding: 25px 15px;
}
/* line 159, ../sass/modules/_footer.scss */
.footer-nav__link {
  font-weight: 300;
  color: white;
  text-decoration: none;
  font-family: "Roboto", "Arial", serif;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (max-width: 1180px) {
  /* line 169, ../sass/modules/_footer.scss */
  .subscribe-form {
    margin-top: 30px;
  }

  /* line 173, ../sass/modules/_footer.scss */
  .footer-top {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* line 180, ../sass/modules/_footer.scss */
  .footer-top__galery .footer-top__heading {
    margin-left: 2,546%;
  }

  /* line 184, ../sass/modules/_footer.scss */
  .footer-top__galery {
    margin-top: 30px;
    margin-left: 2%;
    margin-right: 2%;
    flex: 1 1 96%;
  }

  /* line 192, ../sass/modules/_footer.scss */
  .mini-galery {
    justify-content: space-around;
  }
  /* line 194, ../sass/modules/_footer.scss */
  .mini-galery__photo {
    margin-right: 20px;
  }
  /* line 196, ../sass/modules/_footer.scss */
  .mini-galery__photo:nth-of-type(3n) {
    margin-right: 20px;
  }
}
@media screen and (max-width: 840px) {
  /* line 205, ../sass/modules/_footer.scss */
  .mini-galery--footer {
    flex: 1 1 50%;
  }
}
@media screen and (max-width: 730px) {
  /* line 210, ../sass/modules/_footer.scss */
  .footer-bottom__wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 0;
    flex-wrap: wrap;
    maring-right: 0;
    justify-content: space-around;
  }
}
