<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/base/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Paper Blog | home</title>
  </head>
  <!-- comments to remove -->
  <body class="index">
    <header class="header">
      <div class="header-top">
        <div class="header-top__content">
          <ul class="header-top__lang-list">
            <li class="header-top__lang-list-item"><a class="header-top__link" href="">eng</a></li>
            <li class="header-top__lang-list-item"><a class="header-top__link" href="">fra</a></li>
            <li class="header-top__lang-list-item"><a class="header-top__link" href="">ru</a></li>
          </ul>
          <div class="header-top__user-block">
            <div class="header-top__login"><a class="header-top__link" href="">sign in/</a></div>
            <div class="header-top__signup"><a class="header-top__link" href="">sign up</a></div>
          </div>
          <ul class="social-links social-links--header">
            <li class="social-links__item social-links__item--fb"><a href="#"></a></li>
            <li class="social-links__item social-links__item--tw"><a href="#"></a></li>
            <li class="social-links__item social-links__item--g"><a href="#"></a></li>
            <li class="social-links__item social-links__item--tumblr"><a href="#"></a></li>
            <li class="social-links__item social-links__item--pinterest"><a href="#"></a></li>
          </ul>
        </div>
      </div>
      <div class="header-logo">
        <div class="header-logo__container">
          <div class="header-logo__icon"></div>
          <div class="header-logo__name"><a href="#">Paper</a></div>
          <span class="header-logo__caption">Creative Blog with Material Design</span>
        </div>
      </div>

      <div class="header__nav-wrapper">
        <nav class="header-nav">
          <ul class="header-nav__list">
            <li class="header-nav__item ">
              <a href="#" class="header-nav__link">Home</a>
              <ul class="header-nav__sub-menu">
                <li class="header-nav__sub-item"><a href="">Fulwidth</a></li>
                <li class="header-nav__sub-item"><a href="">With sidebar</a></li>
                <li class="header-nav__sub-item"><a href="">Grid posts</a></li>
              </ul>
            </li>
            <li class="header-nav__item"><a href="#" class="header-nav__link">Layout</a></li>
            <li class="header-nav__item"><a href="#" class="header-nav__link">Features</a></li>
            <li class="header-nav__item">
              <a href="#" class="header-nav__link">Categories</a>
              <ul class="header-nav__sub-menu">
                <li class="header-nav__sub-item"><a href="">Featured</a></li>
                <li class="header-nav__sub-item"><a href="">Life Style</a></li>
                <li class="header-nav__sub-item"><a href="">Fashion</a></li>
                <li class="header-nav__sub-item"><a href="">Photography</a></li>
                <li class="header-nav__sub-item"><a href="">Music</a></li>
                <li class="header-nav__sub-item"><a href="">Travel</a></li>
              </ul>
            </li>
            <li class="header-nav__item"><a href="#" class="header-nav__link">About</a></li>
            <li class="header-nav__item"><a href="#" class="header-nav__link">Contact</a></li>
          </ul>


          <label class="header-nav__input-label" for="nav-search"></label>
          <input class="header-nav__search" id="nav-search" type="checkbox">
          <input class="header-nav__input" id="nav-input" type="text">


          <div class="burger-wrapper">

            <ul class="burger-menu">
              <li class="burger-menu__item"><a href="#">Useful Links</a></li>
              <li class="burger-menu__item"><a href="#">Paper on Facebook</a></li>
              <li class="burger-menu__item"><a href="#">Paper on Twitter</a></li>
              <li class="burger-menu__item"><a href="#">Paper on Google Plus</a></li>
              <li class="burger-menu__item"><a href="#">Find Help/FAQ</a></li>
              <li class="burger-menu__item"><a href="#">Subscribe/RSS</a></li>
            </ul>
          </div>


        </nav>
      </div>

      <div class="header-bottom__content">
        <div class="slider slider--main">
           <input class="slider__input" id="slider__left-arrow" type="radio" name="arrow">
           <input class="slider__input" id="slider__right-arrow" type="radio" name="arrow">
           <label class="slider__arrow slider__arrow--left" for="slider__left-arrow"></label>
           <label class="slider__arrow slider__arrow--right" for="slider__right-arrow"></label>

           <div class="slider__inner">
              <ul class="slider__slides">
                <li class="slider__unit">
                  <img class="slider__img" src="img/doughter_slider.jpg" alt="" width="1170" height="700">
                   <div class="slider__caption">
                    <span class="slider__title">Life Style</span>
                    <h2 class="slider__heading">My Daily Reading</h2>
                  </div>
                </li>

                <li class="slider__unit">
                  <img class="slider__img" src="img/resting_stranger_slider.jpg" alt="" width="1170" height="701">
                  <div class="slider__caption">
                    <span class="slider__title">Life Style</span>
                    <h2 class="slider__heading">My Daily Reading</h2>
                  </div>
                </li>
              </ul>
           </div>
        </div>
      </div>

    </header>

    <main class="index-content">
      <div class="main-container">
        <article class="post">
          <img class="post__img" src="img/bicycle_small.jpg" alt="byke" width="1170" height="580">
          <div class="post__content-wrapper">
            <div class="post__category-icon post__category-icon--life-style"></div>
            <h2 class="post__heading">My Daily Reading Lists</h2>
            <p class="post__preview">Lorem ipsum dolor sit amet, cons adipiscing elit.Aenean commodo ligula eget dolor aeneanssa. Cum sociis natoque penatibus etagnis parturient montes, nascetur ridiculus mus.
              <a href="" class="post__read-more">Continue reading</a>
            </p>


            <div class="post__info">
              <img class="post__author-photo" src="img/face-xs.jpg" alt="author image">
              <div class="post__statistics">
                <div class="post__author-info">
                    Posted on 18th March  2015 by Mike Ross
                </div>
                <span class="post__favorits">10 favorits</span>
                <span class="post__comments">13 comments</span>
                <div class="post__tags">life style, friends, wonderful</div>
              </div>
            </div>
          </div>
        </article>
         <article class="post">
          <img class="post__img" src="img/dj_small.jpg" alt="" width="1170" height="580">
          <div class="post__content-wrapper">
            <div class="post__category-icon post__category-icon--fashion"></div>
            <h2 class="post__heading">My Daily Reading Lists</h2>
            <p class="post__preview">Lorem ipsum dolor sit amet, cons adipiscing elit.Aenean commodo ligula eget dolor aeneanssa. Cum sociis natoque penatibus etagnis parturient montes, nascetur ridiculus mus.
              <a href="" class="post__read-more">Continue reading</a>
            </p>


            <div class="post__info">
               <img class="post__author-photo" src="img/face-xs.jpg" alt="author image">
              <div class="post__statistics">
                <div class="post__author-info">
                    Posted on 18th March  2015 by Mike Ross
                </div>
                <span class="post__favorits">10 favorits</span>
                <span class="post__comments">13 comments</span>
                <div class="post__tags">life style, friends, wonderful</div>
              </div>
            </div>
          </div>
        </article>
         <article class="post">
          <img class="post__img" src="img/photographer_small.jpg" alt="" width="1170" height="580" >
          <div class="post__content-wrapper">
            <div class="post__category-icon post__category-icon--photography"></div>
            <h2 class="post__heading">My Daily Reading Lists</h2>
            <p class="post__preview">Lorem ipsum dolor sit amet, cons adipiscing elit.Aenean commodo ligula eget dolor aeneanssa. Cum sociis natoque penatibus etagnis parturient montes, nascetur ridiculus mus.
              <a href="" class="post__read-more">Continue reading</a>
            </p>


            <div class="post__info">
              <img class="post__author-photo" src="img/face-xs.jpg" alt="author image">
              <div class="post__statistics">
                <div class="post__author-info">
                    Posted on 18th March  2015 by Mike Ross
                </div>
                <span class="post__favorits">10 favorits</span>
                <span class="post__comments">13 comments</span>
                <div class="post__tags">life style, friends, wonderful</div>
              </div>
            </div>
          </div>
        </article>
         <article class="post">
          <img class="post__img" src="img/town_small.jpg" alt="" width="1170" height="580">
          <div class="post__content-wrapper">
            <div class="post__category-icon post__category-icon--travel"></div>
            <h2 class="post__heading">My Daily Reading Lists</h2>
            <p class="post__preview">Lorem ipsum dolor sit amet, cons adipiscing elit.Aenean commodo ligula eget dolor aeneanssa. Cum sociis natoque penatibus etagnis parturient montes, nascetur ridiculus mus.
              <a href="" class="post__read-more">Continue reading</a>
            </p>


            <div class="post__info">
              <img class="post__author-photo" src="img/face-xs.jpg" alt="author image">
              <div class="post__statistics">
                <div class="post__author-info">
                    Posted on 18th March  2015 by Mike Ross
                </div>
                <span class="post__favorits">10 favorits</span>
                <span class="post__comments">13 comments</span>
                <div class="post__tags">life style, friends, wonderful</div>
              </div>
            </div>
          </div>
        </article>
         <article class="post">
          <img class="post__img" src="img/headphones.jpg" alt="" width="1170" height="580" >
          <div class="post__content-wrapper">
            <div class="post__category-icon post__category-icon--music"></div>
            <h2 class="post__heading">My Daily Reading Lists</h2>
            <p class="post__preview">Lorem ipsum dolor sit amet, cons adipiscing elit.Aenean commodo ligula eget dolor aeneanssa. Cum sociis natoque penatibus etagnis parturient montes, nascetur ridiculus mus.
              <a href="" class="post__read-more">Continue reading</a>
            </p>


            <div class="post__info">
              <img class="post__author-photo" src="img/face-xs.jpg" alt="author image">
              <div class="post__statistics">
                <div class="post__author-info">
                    Posted on 18th March  2015 by Mike Ross
                </div>
                <span class="post__favorits">10 favorits</span>
                <span class="post__comments">13 comments</span>
                <div class="post__tags">life style, friends, wonderful</div>
              </div>
            </div>
          </div>
        </article>
         <article class="post">
          <img class="post__img" src="img/books_small.jpg" alt="cookies" width="1170" height="580" >
          <div class="post__content-wrapper">
            <div class="post__category-icon post__category-icon--life-style"></div>
            <h2 class="post__heading">My Daily Reading Lists</h2>
            <p class="post__preview">Lorem ipsum dolor sit amet, cons adipiscing elit.Aenean commodo ligula eget dolor aeneanssa. Cum sociis natoque penatibus etagnis parturient montes, nascetur ridiculus mus.
              <a href="" class="post__read-more">Continue reading</a>
            </p>


            <div class="post__info">
              <img class="post__author-photo" src="img/face-xs.jpg" alt="author image">
              <div class="post__statistics">
                <div class="post__author-info">
                    Posted on 18th March  2015 by Mike Ross
                </div>
                <span class="post__favorits">10 favorits</span>
                <span class="post__comments">13 comments</span>
                <div class="post__tags">life style, friends, wonderful</div>
              </div>
            </div>
          </div>
        </article>
        <article class="post">
          <img class="post__img" src="img/city_sunset_small.jpg" alt="" width="1170" height="580" >
          <div class="post__content-wrapper">
           <div class="post__category-icon post__category-icon--travel"></div>
            <h2 class="post__heading">My Daily Reading Lists</h2>
            <p class="post__preview">Lorem ipsum dolor sit amet, cons adipiscing elit.Aenean commodo ligula eget dolor aeneanssa. Cum sociis natoque penatibus etagnis parturient montes, nascetur ridiculus mus.
              <a href="" class="post__read-more">Continue reading</a>
            </p>


            <div class="post__info">
              <img class="post__author-photo" src="img/face-xs.jpg" alt="author image">
              <div class="post__statistics">
                <div class="post__author-info">
                    Posted on 18th March  2015 by Mike Ross
                </div>
                <span class="post__favorits">10 favorits</span>
                <span class="post__comments">13 comments</span>
                <div class="post__tags">life style, friends, wonderful</div>
              </div>
            </div>
          </div>
        </article>
         <article class="post">
          <img class="post__img" src="img/wood2_small.jpg" alt="" width="1170" height="580">
          <div class="post__content-wrapper">
            <div class="post__category-icon post__category-icon--photography"></div>
            <h2 class="post__heading">My Daily Reading Lists</h2>
            <p class="post__preview">Lorem ipsum dolor sit amet, cons adipiscing elit.Aenean commodo ligula eget dolor aeneanssa. Cum sociis natoque penatibus etagnis parturient montes, nascetur ridiculus mus.
              <a href="" class="post__read-more">Continue reading</a>
            </p>


            <div class="post__info">
              <img class="post__author-photo" src="img/face-xs.jpg" alt="author image">
              <div class="post__statistics">
                <div class="post__author-info">
                    Posted on 18th March  2015 by Mike Ross
                </div>
                <span class="post__favorits">10 favorits</span>
                <span class="post__comments">13 comments</span>
                <div class="post__tags">life style, friends, wonderful</div>
              </div>
            </div>
          </div>
        </article>
         <article class="post">
          <img class="post__img" src="img/gitar_girl_small.jpg" alt="" width="1170" height="580" >
          <div class="post__content-wrapper">
            <div class="post__category-icon post__category-icon--music"></div>
            <h2 class="post__heading">My Daily Reading Lists</h2>
            <p class="post__preview">Lorem ipsum dolor sit amet, cons adipiscing elit.Aenean commodo ligula eget dolor aeneanssa. Cum sociis natoque penatibus etagnis parturient montes, nascetur ridiculus mus.
              <a href="" class="post__read-more">Continue reading</a>
            </p>


            <div class="post__info">
              <img class="post__author-photo" src="img/face-xs.jpg" alt="author image">image">
              <div class="post__statistics">
                <div class="post__author-info">
                    Posted on 18th March  2015 by Mike Ross
                </div>
                <span class="post__favorits">10 favorits</span>
                <span class="post__comments">13 comments</span>
                <div class="post__tags">life style, friends, wonderful</div>
              </div>
            </div>
          </div>
        </article>


        <ul class="paginator">
          <li class="paginator__item paginator__item--prev">
            <a href="" class="paginator__link"></a>
          </li>
          <li class="paginator__item paginator__item--active"><a href="" class="paginator__link">1</a></li>
          <li class="paginator__item"><a href="" class="paginator__link">2</a></li>
          <li class="paginator__item"><a href="" class="paginator__link">3</a></li>
          <li class="paginator__item paginator__item--next">
            <a href="" class="paginator__link"></a>
          </li>
        </ul>
      </div>
    </main>


    <footer class="footer">
      <div class="footer-top">
        <div class="footer-top__contacts">
          <h3 class="footer-top__heading">About Us</h3>
          <p class="footer-top__contacts-info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis. </p>


          <div class="footer-top__social-block">
            <h3 class="footer-top__heading">Connect with Us</h3>
            <ul class="social-links social-links--footer">
              <li class="social-links__item social-links__item--fb"><a href="#"></a></li>
              <li class="social-links__item social-links__item--tw"><a href="#"></a></li>
              <li class="social-links__item social-links__item--g"><a href="#"></a></li>
              <li class="social-links__item social-links__item--tumblr"><a href="#"></a></li>
              <li class="social-links__item social-links__item--pinterest"><a href="#"></a></li>
            </ul>
          </div>
        </div>

        <form class="subscribe-form" method="post" action="">

          <h2 class="footer-top__heading">Daily Newsletters</h2>
          <input class="subscribe-form__name" type="text" placeholder="Name">

          <input  class="subscribe-form__mail" type="text" placeholder="Email">

          <button class="btn btn--subscribe" type="submit">Subscribe</button>
        </form>
        <div class="footer-top__galery">
          <h3 class="footer-top__heading">Photos in Instagram</h3>
          <div class="mini-galery mini-galery--footer">
            <a href =""> <img class="mini-galery__photo" src="img/city_sunset_xs.jpg" alt="" ></a>
            <a href =""> <img class="mini-galery__photo" src="img/skating_xs.jpg" alt="" ></a>
            <a href =""> <img class="mini-galery__photo" src="img/onion_xs.jpg" alt="" ></a>
            <a href =""> <img class="mini-galery__photo" src="img/notebook_xs.jpg" alt="" ></a>
            <a href =""> <img class="mini-galery__photo" src="img/frog_small.jpg" alt="" ></a>
            <a href =""> <img class="mini-galery__photo" src="img/flower_and_cookies_xs.jpg" alt="" ></a>

          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="footer-bottom__wrapper">
          <span class="footer-bottom__moto">Paper - Clean Blog WordPress Theme with Material Design</span>
          <ul class="footer-nav">
            <li class="footer-nav__list-item"><a href="" class="footer-nav__link">Help</a></li>
            <li class="footer-nav__list-item"><a href="" class="footer-nav__link">Terms</a></li>
            <li class="footer-nav__list-item"><a href="" class="footer-nav__link">About</a></li>
            <li class="footer-nav__list-item"><a href="" class="footer-nav__link">Contacts</a></li>
          </ul>
        </div>
      </div>

    </footer>

  </body>


</html>
