// @import "./../base/_normalize.scss";
@import "./../base/_helpers.scss";
@import "./../base/_tag_defaults.scss";
@import "./../base/_typography.scss";


ul,a, span, li{
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

       -o-box-sizing: border-box;
}


