@import "compass/utilities/sprites";

@mixin font( $font-size: 24px, $line-height: 30px, $fontName: "Roboto") {
  font-family: $fontName, "Arial", serif;
  font-size: $font-size;
  line-height: $line-height;
}

