@import "compass/utilities/sprites";

@mixin font($fontName: "Roboto", $font-size: 24px, $line-height: 30px) {
  font-family: $fontName, "Arial", serif;
  font-size: $font-size;
  line-height: $line-height;
}
