@import "./../base/_variables.scss";
@import "./../base/_mixins.scss";
@import "./../base/_functions.scss";

.header-logo {
  max-width: 100%;
  &__container {
    position: relative;
    top: 38px;
    width: 320px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-left: 70px;
    background: $bgHeader;
  }
  // &__logo-icon {
  //   position: absolute;
  //   top: 38px;
  //   left: 0;
  //   width: 46px;
  //   height: 60px;
  //   background: sprite($icons,icon-logo, $adjustLeft, $adjustTop);
  // }
  &__name {
    display: inline-block;
    padding-bottom: 20px;
    vertical-align: middle;
    & a {
      font-weight: bold;
      color: $clrFontLogo;
      text-decoration: none;
      text-transform: uppercase;

      @include font(72px, 72px, "Roboto Slab");
    }
  }
  &__caption {
    position: relative;
    left: 50%;
    display: block;
    color: #757575;
    transform: translateX(-60%);

    @include font(15px, 26px, "Roboto Slab");
  }
  &__icon {
    position: absolute;
    top: 6px;
    left: -15px;
    width: 48px;
    height: 60px;
    background-image: sprite-url($icons);
    background-repeat: no-repeat;
    background-position: sprite-position($icons, icon-logo);
  }
}

