@import "./../base/_variables.scss";
@import "./../base/_mixins.scss";
@import "./../base/_functions.scss";


.header-bottom__content {
  background: #757575;
  // TODO remove height
  height: 820px;
  width: auto;
}
