@import "./../base/_variables.scss";
@import "./../base/_mixins.scss";
@import "./../base/_functions.scss";


@mixin arrow ($rotate, $color, $size, $thick) {
  width: $size;
  height: $size;
  border: $thick solid transparent;
  border-top: $thick solid $color;
  border-left: $thick solid $color;
  -webkit-transform: rotate($rotate);
      -ms-transform: rotate($rotate);
       -o-transform: rotate($rotate);
          transform: rotate($rotate);
}


.paginator {
  float: 1 1 100%;
  max-width: 450px;
  margin: 55px auto;
  &__item {
    display: inline-block;
    width: 57px;
    height: 57px;
    margin-right: 25px;
    vertical-align: middle;
    &--active {
      display: inline-block;
      border-radius: 50%;
      color: white;
      background-color: $bgPaginatorActive;
      text-align: baseline;
    }
    &--prev {
      @include arrow(-45deg, orange, 15px, 4px);
      cursor: pointer;
    }
    &--next {
      @include arrow(135deg, orange, 15px, 4px);
      cursonr: pointer;
    }
  }
  &__link {
    display: inline-block;
    padding: 15px 20px 6px 22px;
    color: #2f2f2f;
    vertical-align: text-bottom;
    text-decoration: none;

    @include font(24px, 26px);
  }
}

@media screen and(max-width: 560px) {
  .paginator {
    min-width: 300px;
    margin: 0 auto;
    transform: scale(.8);
    margin-bottom: 15px;
  }
}





