@import "../base/variables";
@import "../base/mixins";
@import "../base/functions";

.header {
  max-width: 100%;
  background: $bgHeader;
}


.header-top {
  background: $bgHeaderTop;
  &__content {
    display: flex;
    min-width: $min-width-xl;
    max-width: $max-width-xl;
    min-height: 22px;
    margin: 0 auto;
    padding-top: 4px;
    color: #ffffff;
    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;
    }
  }
  &__lang-list {
    padding-left: 5px;
    list-style: none;
    white-space: nowrap;

    flex: 0 0 auto;
  }
  &__user-block {
    margin-right: 18px;
    text-align: end;
    white-space: nowrap;

    flex: 1 1 0;
  }
  &__lang-list-item {
    display: inline-block;
    margin-right: 15px;
  }
  &__login {
    display: inline-block;
  }
  &__signup {
    display: inline-block;
  }
  &__link {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;

    @include font(12px, 24px);
  }
}

$iconColor: $white;
$adjustTop: -1px;
$adjustLeft: -1px;
$iconMargins: 0 2px 0 2px;
$iconWidth: 22px;
$iconHeight: 22px;
$iconBorderRadius: 50%;

.social-links {
  text-align: end;

  flex: 0 0 auto;
  &__item {
    display: inline-block;
  }
  &__item a {
    display: block;
    width: $iconWidth;
    height: $iconHeight;
    margin: $iconMargins;
    border-radius: $iconBorderRadius;
    background-color: $iconColor;
    background-image: sprite-url($icons);
    background-repeat: no-repeat;
    text-transform: uppercase;
  }
  &__item--fb a {
    background-position: sprite-position($icons, icon-fb, $adjustLeft, $adjustTop);
  }
  &__item--tw a {
    background-position: sprite-position($icons, icon-twitter, $adjustLeft, $adjustTop);
  }
  &__item--g a {
    background-position: sprite-position($icons, icon-gplus, $adjustLeft , $adjustTop);
  }
  &__item--tumblr a {
    background-position: sprite-position($icons, icon-tumblr, $adjustLeft, $adjustTop);
  }
  &__item--pinterest a {
    background-position: sprite-position($icons, icon-pinterest, $adjustLeft, $adjustTop);
  }
}



