@import "../base/variables";
@import "../base/mixins";
@import "../base/functions";

.header__nav-wrapper {
  width: auto;
  margin-top: 40px;
  border-top: 1px solid #e0e0e0;
  text-align: center;
}

.header-nav {
  min-width: $min-width-xl;
  max-width: $max-width-xl;
  margin: 0 auto;
  padding-left: .1%;
  &__list {
    display: inline-block;
  }
  &__item {
    display: inline-block;
    &:last-child a {
      padding-right: 25px;
    }
    &:hover {
      box-shadow: inset 0 -3px 0 0 orange;
    }
  }
  &__link {
    display: block;
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-weight: bold;
    color: $clrFontNav;
    text-decoration: none;

    @include font(15px, 24px, "Roboto Slab");
  }
  &__input-label {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: sprite-url($icons);
    background-repeat: no-repeat;
    background-position: sprite-position($icons, icon-search, 0px, 10px);
    cursor: pointer;
    vertical-align: -25%;
  }
  &__input {
    width: 0;
    transition: width .5s ease-in-out;
  }
  &__search {
    display: none;
    &:checked ~ .header-nav__input {
      display: inline-block;
      width: 20%;
      transition: width .5s ease-in-out;
    }
  }
}

.burger-wrapper {
  position: relative;
  top: 8px;
  left: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: sprite-url($icons);
  background-repeat: no-repeat;
  background-position: sprite-position($icons, icon-menu, 0px, 0px);
  cursor: pointer;
  cursor: pointer;
}



.burger-menu {
  position: absolute;
  z-index: 30;
  top: 0;
  right: 0;
  // display: none;
  transform: scale(0);
  width: 20em;
  width: 270px;
  padding: 20px 0 0 20px;
  background: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);
  text-align: left;
  top: 300%;
  opacity: 0;
  transition: scale 1s, top 0.5s, opacity 0.7s;
  &__item {
    list-style: none;
    &:first-child {
      font-size: 24px;
      color: orange;
    }
  }
  a {
    display: block;
    padding: 0 0 20px 30px;
    color: black;
    text-align: left;
    text-decoration: none;

    @include font(14px, 24px);
    &:hover {
      color: orange;
    }
  }
}

.burger-wrapper:hover  .burger-menu {
  // display: block;
  transform: scale(1);
  top: 10%;
  opacity: 1;
}


.header-nav {

  &__sub-menu {
    position: absolute;
    z-index: 30;
    top: 100%;
    left: 0px;
    // display: none;
    width: 270px;
    padding: 20px 0 0 20px;
    background: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);
    text-align: left;
    transform: scale(0);
    transition: scale 0.5s, opacity 1s;
    opacity: 0;
  }
  &__item {
    position: relative;

    &:hover > .header-nav__sub-menu{
      // display: block;
      transform: scale(1);
      opacity: 1;

    }
  }

  &__sub-item {
    list-style: none;
    a {
      display: block;
      padding: 0 0 20px 30px;
      color: black;
      text-align: left;
      text-decoration: none;

      @include font(14px, 24px);
      &:hover {
        color: orange;

      }
    }
  }
}





@media screen and (max-width: 880px) {
  .header-nav {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;

    flex-wrap: wrap;
    justify-content: center;
  }

  .header-nav__list {
    flex: 1 1 100%;
  }

  .header-nav__input-label {
    flex: 0 0 auto;
  }

  .header-nav__search {
    flex: 1 1 auto;
  }

  .burger-wrapper {
    flex: 0 0 auto;
    align-self: center;
  }
}


